PROYECTO INDIVIDUAL Nº1

Machine Learning Operations (MLOps)

Proceso ETL

1 - Importación de librerías

In [1452]:
import pandas as pd
import numpy as np
import ast
import pyarrow as pa
import pyarrow.parquet as pq

2 - Lectura del archivo JSON y creación del Data Frame

In [1453]:
lista_juegos = []
steam_games = 'steam_games.json'
with open(steam_games, 'r') as archivo:
    for linea in archivo.readlines():                   #Metodo para leer las lineas del JSON
        lista_juegos.append(ast.literal_eval(linea))    #Función del modulo ast. Evalua un literal de datos básicos de Pyhton, 
                                                        #como un diccionario, una lista, una cadena, un número, un conjunot o una tupla 
df0 = pd.DataFrame(lista_juegos)                        #df0 data frame del proyecto (Rev. 0)

2.a - Consulta de las características de Data Frame

In [1454]:
df0.shape    #Consulta de las caracteristicas de dataset. Tiene 32135 registros y 16 campos

(32135, 16)

In [1455]:
df0.head()   #Consulta de la estructura del dataset

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.49,http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro,NaN,NaN
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL,Mostly Positive,NaN
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",NaN,http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com,Mostly Positive,NaN
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",0.83,http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域,NaN,NaN
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"[Action, Indie, Casual, Sports]",1.79,http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,False,773570,NaN,NaN,NaN

In [1456]:
df0.tail()

,publisher,genres,app_name,title,url,release_date,tags,discount_price,reviews_url,specs,price,early_access,id,developer,sentiment,metascore
32130,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",1.49,http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS""",NaN,NaN
32131,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",4.24,http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada,NaN,NaN
32132,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",1.39,http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich,NaN,NaN
32133,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",NaN,http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns",1 user reviews,NaN
32134,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",NaN,http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN,Positive,NaN

2.b – Consulta de las cantidades de registros por campos y tipos de datos

In [1457]:
df0.info() #Consulta de las cantidades de registros por campos y tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   publisher       24083 non-null  object
 1   genres          28852 non-null  object
 2   app_name        32133 non-null  object
 3   title           30085 non-null  object
 4   url             32135 non-null  object
 5   release_date    30068 non-null  object
 6   tags            31972 non-null  object
 7   discount_price  225 non-null    float64
 8   reviews_url     32133 non-null  object
 9   specs           31465 non-null  object
 10  price           30758 non-null  object
 11  early_access    32135 non-null  bool
 12  id              32133 non-null  object
 13  developer       28836 non-null  object
 14  sentiment       24953 non-null  object
 15  metascore       2677 non-null   object
dtypes: bool(1), float64(1), object(14)
memory usage: 3.7+ MB

2.c-Consulta de cantidad de nulos por campo

In [1458]:
df0.isna().sum() #Consulta de nulos por campo

publisher          8052
genres             3283
app_name              2
title              2050
url                   0
release_date       2067
tags                163
discount_price    31910
reviews_url           2
specs               670
price              1377
early_access          0
id                    2
developer          3299
sentiment          7182
metascore         29458
dtype: int64

3 - Identificacion de features importantes

3.a-Eliminacion de variables consideradas irrelevantes y/o redundantes

In [1459]:
columnas_a_eliminar = ['title','url','reviews_url','publisher','developer','id'] #Se va a trabajar con la columna app_name y se elimina la columna title por redundante. 
df0.drop(columns=columnas_a_eliminar, inplace=True)  #Las columnas url, reviews_url, publisher, id y developer se eliminan por irrelevantes para el analisis

4 - Eliminacion de nulos

4.a - Eliminación de Nan en realease_date

In [1460]:
df0.dropna(subset = ['release_date'],inplace=True) #Se eliminan los nulos de release_date porque este campo es fundamental y no los podemos imputar de ninguna forma

In [1461]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30068 entries, 0 to 32133
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          28834 non-null  object
 1   app_name        30067 non-null  object
 2   release_date    30068 non-null  object
 3   tags            29907 non-null  object
 4   discount_price  204 non-null    float64
 5   specs           29399 non-null  object
 6   price           28821 non-null  object
 7   early_access    30068 non-null  bool
 8   sentiment       23156 non-null  object
 9   metascore       2623 non-null   object
dtypes: bool(1), float64(1), object(8)
memory usage: 2.3+ MB

Creacion de la columna release_year necesaria para los endpoints

In [1462]:
df0['release_date'].unique() #Consulta de valores unicos de la columna release_date

array(['2018-01-04', '2017-07-24', '2017-12-07', ..., '2016-11-19',
       'January 2018', '2018-10-01'], dtype=object)

In [1463]:
df0['release_year'] = df['release_date'].str.extract(r'(\d{4})') #Con este metodo buscamos y extreamos secuencias de cuatro digitos(Distintos formatos de datos en la columna release_date)

In [1464]:
df0.release_year.isna().sum() #Consulta de datos que no se puedo extraer en el paso previo

101


Generacion de una mascara con los nulos del campo release_year para enviar a un data frame los posibles registros con datos erroneos en el campo release_date

In [1465]:
mask = df0['release_year'].isna()    #Se genera una mascara con los nulos del campo release_year
df_filtrado = df0[mask]              #Con la mascara se crea un data frame con los registros con posibles errores en el campo release_date
df_filtrado.head(10)                #Consulta del data frame - df_filtrado es un data frame auxiliar

,genres,app_name,release_date,tags,discount_price,specs,price,early_access,sentiment,metascore,release_year
10,"[Action, Indie, Simulation, Early Access]",Uncanny Islands,Soon..,"[Early Access, Action, Indie, Simulation, Surv...",NaN,[Single-player],NaN,True,NaN,NaN,NaN
44,"[Adventure, Free to Play, RPG, Early Access]",Idle Adventure,Beta测试已开启,"[Early Access, Free to Play, Adventure, RPG]",NaN,"[MMO, Steam Achievements]",NaN,True,NaN,NaN,NaN
6737,"[Action, Indie]",Warhawks,Coming Soon,"[Action, Indie, VR, Flight]",NaN,"[Single-player, Multi-player, Steam Achievemen...",NaN,False,NaN,NaN,NaN
7134,"[Adventure, Indie, Simulation]",Eco,Coming Soon,"[Survival, Adventure, Multiplayer, Simulation,...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",NaN,False,NaN,NaN,NaN
7189,"[Adventure, Casual, Indie]",Woven,TBA,"[Indie, Casual, Adventure, Singleplayer, Story...",NaN,[Single-player],NaN,False,NaN,NaN,NaN
8338,"[Indie, Simulation]",Orcish Inn,When it's done,"[Simulation, Indie, Survival]",NaN,[Single-player],NaN,False,NaN,NaN,NaN
8552,"[Adventure, Casual, Indie]",Out Of The Box,coming soon,"[Indie, Adventure, Casual]",NaN,"[Single-player, Steam Achievements, Steam Trad...",NaN,False,NaN,NaN,NaN
9335,"[Action, Adventure, Indie]",Attack On Kitten,TBA,"[Action, Indie, Adventure, Platformer]",NaN,"[Single-player, Steam Achievements, Full contr...",NaN,False,NaN,NaN,NaN
10275,"[Free to Play, RPG, Strategy]",Samurai Forge,soon,"[Free to Play, Strategy, RPG]",NaN,"[Single-player, Online Multi-Player, Online Co...",NaN,False,NaN,NaN,NaN
10483,[Indie],Edge of Insanity,14 July,"[Violent, Indie, Psychological Horror, Horror,...",NaN,[Single-player],NaN,False,NaN,NaN,NaN

In [1466]:
df_filtrado.tail(10)        #Consulta del data frame

,genres,app_name,release_date,tags,discount_price,specs,price,early_access,sentiment,metascore,release_year
25926,"[Action, Casual, Indie]",Shwip,When it's done!,"[Action, Indie, Casual]",NaN,"[Single-player, Local Multi-Player, Shared/Spl...",NaN,False,NaN,NaN,NaN
31925,"[Casual, Indie, Racing]",Sparkour,Coming Soon,"[Racing, Parkour, Casual, Indie, Multiplayer, ...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",NaN,False,NaN,NaN,NaN
31943,"[Action, Indie]",Acceleration of SUGURI 2,Coming Soon,"[Indie, Action, Bullet Hell, Anime, Cute, Shoo...",NaN,"[Single-player, Multi-player, Shared/Split Scr...",NaN,False,NaN,NaN,NaN
31952,[Casual],Dungeon Girl,Coming Soon,"[Casual, Anime, Visual Novel, Puzzle, Match 3,...",NaN,"[Single-player, Steam Achievements, Steam Clou...",NaN,False,NaN,NaN,NaN
31958,[Action],Sniper Ghost Warrior 3 - Multiplayer map,coming soon,"[Action, Violent]",NaN,"[Single-player, Downloadable Content, Partial ...",19.99,False,NaN,NaN,NaN
31983,"[Casual, Strategy]",Lost Artifacts,Coming soon,"[Strategy, Casual]",NaN,"[Single-player, Steam Achievements]",NaN,False,NaN,NaN,NaN
31989,"[Action, Adventure, Indie]",Memento,TBD,"[Indie, Action, Adventure, Horror]",NaN,[Single-player],NaN,False,NaN,NaN,NaN
32000,"[Adventure, Indie]",Spy of Deimos,Coming Soon,"[Indie, Adventure]",NaN,"[Single-player, Steam Achievements, Steam Cloud]",NaN,False,NaN,NaN,NaN
32008,"[Action, Indie]",DUSK,SOON™,"[Action, FPS, Indie, Retro, Shooter, Horror, G...",NaN,"[Single-player, Online Multi-Player, Steam Ach...",20.0,False,NaN,NaN,NaN
32087,"[Action, Casual, Indie, Simulation]",Lonely Astronaut,Coming Soon,"[Casual, Action, Indie, Simulation]",NaN,[Single-player],NaN,False,NaN,NaN,NaN

In [1467]:
df_filtrado.info()  #Consulta de los campos del data frame filtrado

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 10 to 32087
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          101 non-null    object
 1   app_name        101 non-null    object
 2   release_date    101 non-null    object
 3   tags            101 non-null    object
 4   discount_price  0 non-null      float64
 5   specs           101 non-null    object
 6   price           3 non-null      object
 7   early_access    101 non-null    bool
 8   sentiment       0 non-null      object
 9   metascore       0 non-null      object
 10  release_year    0 non-null      object
dtypes: bool(1), float64(1), object(9)
memory usage: 8.8+ KB

In [1468]:
df_filtrado.release_date.nunique()  #Consulta de cantidad de registros unicos en release_date del data frame filtrado

37

In [1469]:
df_filtrado.release_date.unique()   #Consulta de lista de registros unicos en release_date del data frame fitlrado

array(['Soon..', 'Beta测试已开启', 'Coming Soon', 'TBA', "When it's done",
       'coming soon', 'soon', '14 July', 'To be Announced', 'TBD', 'Soon',
       'Please wait warmly', 'early access', 'SOON',
       'Coming Soon/Próximamente', 'Coming soon',
       '0̵1̴0̵0̶1̷0̶0̵0̴ ̴0̶0̶1̶1̶0̷0̶1̵1̴ ̸0̶0̶1̶1̵0̶1̷0̴0̵ ̴0̶1̷0̸1̵0̷0̴1̶0̴ ̴0̷0̴1̷1̶0̶1̵1̷1̵ ̵',
       '"""Soon"""', 'Demo coming soon.', 'Not yet available',
       "C'est bientôt...                    (ou pas)",
       'Datachunks conflicted. Be vigiliant.', 'Demo is available now!',
       'Play Beta in demo!', 'Coming Soon!', 'To be announced',
       'When it is finished', 'Release Date TBA', 'When it is ready',
       'Early Access Starting Soon!', 'Comming Soon', 'Early Access soon',
       'To Be Announced', 'Coming soon..', 'Soon™', "When it's done!",
       'SOON™'], dtype=object)

In [1470]:
del df_filtrado

Limpieza de columna release_date medainte la columna release_year

In [1471]:
df1 = df0.dropna(subset=['release_year']) #Se eliminan de esta manera los registros erroneos de release_data - df1 data frame del proyecto (Rev.1) sin nulos de release_year

In [1472]:
del df0

In [1473]:
df1.info() #Consulta del nuevo data frame

<class 'pandas.core.frame.DataFrame'>
Index: 29967 entries, 0 to 32133
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          28733 non-null  object
 1   app_name        29966 non-null  object
 2   release_date    29967 non-null  object
 3   tags            29806 non-null  object
 4   discount_price  204 non-null    float64
 5   specs           29298 non-null  object
 6   price           28818 non-null  object
 7   early_access    29967 non-null  bool
 8   sentiment       23156 non-null  object
 9   metascore       2623 non-null   object
 10  release_year    29967 non-null  object
dtypes: bool(1), float64(1), object(9)
memory usage: 2.5+ MB

In [1474]:
df1.head() #Consulta del nuevo data frame

,genres,app_name,release_date,tags,discount_price,specs,price,early_access,sentiment,metascore,release_year
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,Mostly Positive,NaN,2018
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,Mostly Positive,NaN,2017
3,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",0.83,[Single-player],0.99,False,NaN,NaN,2017
5,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",NaN,"[Single-player, Steam Achievements]",3.99,False,Mixed,NaN,2018

In [1475]:
df1[['release_date','release_year']] #Consulta solo de las columnas release_date y release_year

      release_date release_year
0       2018-01-04         2018
1       2018-01-04         2018
2       2017-07-24         2017
3       2017-12-07         2017
5       2018-01-04         2018
...            ...          ...
32129   2018-01-04         2018
32130   2018-01-04         2018
32131   2018-01-04         2018
32132   2018-01-04         2018
32133   2017-09-02         2017

[29967 rows x 2 columns]

Elimnación de la columna release_date por resultar ya irrelevante para el proyecto

In [1476]:
df1.drop(columns='release_date', inplace=True) #Se elimina la columna release_date por resultar ya irrelevante para el proyecto

Conversion de la variable release_year a numerica

In [1477]:
df1['release_year'] = pd.to_numeric(df1['release_year']) #Conversion de la variable release_year a numerica

In [1478]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29967 entries, 0 to 32133
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          28733 non-null  object
 1   app_name        29966 non-null  object
 2   tags            29806 non-null  object
 3   discount_price  204 non-null    float64
 4   specs           29298 non-null  object
 5   price           28818 non-null  object
 6   early_access    29967 non-null  bool
 7   sentiment       23156 non-null  object
 8   metascore       2623 non-null   object
 9   release_year    29967 non-null  int64
dtypes: bool(1), float64(1), int64(1), object(7)
memory usage: 2.3+ MB

3 - Transformaciones

3.a - Expansión de las columnas anidadas

In [1479]:
df2 = df1.explode('genres') #Se desanida el campo genres - df2 es data frame de proyecto (Rev.2) con la columna genres desanidada

In [1480]:
del df1

In [1481]:
df2.head(10) #Consulta del nuevo data frame desanidado

,genres,app_name,tags,discount_price,specs,price,early_access,sentiment,metascore,release_year
0,Action,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018
0,Casual,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018
0,Indie,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018
0,Simulation,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018
0,Strategy,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018
1,Free to Play,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,Mostly Positive,NaN,2018
1,Indie,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,Mostly Positive,NaN,2018
1,RPG,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,Mostly Positive,NaN,2018
1,Strategy,Ironbound,"[Free to Play, Strategy, Indie, RPG, Card Game...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,Mostly Positive,NaN,2018
2,Casual,Real Pool 3D - Poolians,"[Free to Play, Simulation, Sports, Casual, Ind...",NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,Mostly Positive,NaN,2017

In [1482]:
df2.info() #Consulta del nuevo data frame desanidado

<class 'pandas.core.frame.DataFrame'>
Index: 72450 entries, 0 to 32133
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          71216 non-null  object
 1   app_name        72448 non-null  object
 2   tags            72267 non-null  object
 3   discount_price  580 non-null    float64
 4   specs           71510 non-null  object
 5   price           69542 non-null  object
 6   early_access    72450 non-null  bool
 7   sentiment       56152 non-null  object
 8   metascore       5474 non-null   object
 9   release_year    72450 non-null  int64
dtypes: bool(1), float64(1), int64(1), object(7)
memory usage: 5.6+ MB

In [1483]:
lista_genres = df2.genres.unique() #Consulta de valores unicos del campo genres
lista_genres

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure', 'Racing', nan,
       'Massively Multiplayer', 'Early Access',
       'Animation &amp; Modeling', 'Video Production', 'Web Publishing',
       'Education', 'Software Training', 'Utilities',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting'], dtype=object)

In [1484]:
df2.genres.nunique() #Consulta de la cantidad de valores unicos del campo genres

22

Correcion de los valores 'Animation &amp; Modeling' y 'Design &amp; Illustration' en los registros

In [1485]:
df2['genres'] = df2['genres'].replace({'Animation &amp; Modeling':'Animation & Modeling',
                                                            'Design &amp; Illustration':'Design & Illustration'}) #Se corrigen dos valores en los registros

In [1486]:
df2.isna().sum() #Consulta de nulos del data frame

genres             1234
app_name              2
tags                183
discount_price    71870
specs               940
price              2908
early_access          0
sentiment         16298
metascore         66976
release_year          0
dtype: int64

Imputacion de valores nulos del campo genres con valores coincidentes de genres en el campo tags

Se crea la columna imputacion para registrar que registros fueron imputados en el campo genres - 0 para valor no imputado y 1 para valor imputado

In [1487]:
df2['imputacion'] = df2['genres'].isna().astype(int) #Creacion de la columna imputacion - 1 para valores Nan

In [1488]:
df2.info() #Consulta del data frame

<class 'pandas.core.frame.DataFrame'>
Index: 72450 entries, 0 to 32133
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          71216 non-null  object
 1   app_name        72448 non-null  object
 2   tags            72267 non-null  object
 3   discount_price  580 non-null    float64
 4   specs           71510 non-null  object
 5   price           69542 non-null  object
 6   early_access    72450 non-null  bool
 7   sentiment       56152 non-null  object
 8   metascore       5474 non-null   object
 9   release_year    72450 non-null  int64
 10  imputacion      72450 non-null  int32
dtypes: bool(1), float64(1), int32(1), int64(1), object(7)
memory usage: 5.9+ MB

In [1489]:
df2.head() #Consulta del data frame

,genres,app_name,tags,discount_price,specs,price,early_access,sentiment,metascore,release_year,imputacion
0,Action,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018,0
0,Casual,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018,0
0,Indie,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018,0
0,Simulation,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018,0
0,Strategy,Lost Summoner Kitty,"[Strategy, Action, Indie, Casual, Simulation]",4.49,[Single-player],4.99,False,NaN,NaN,2018,0

Creación de un nuevo data frame con una mascara para guardar los registros nulos de genres

In [1490]:
mask = df2['genres'].isna()   #Se crea una mascara para valores nulos de genres
df_genres_nan = df2[mask] #Se crea un nuevo data frame con los registros nulos de genres - df_genres_nan es un data frame auxiliar

Elimnación de nulos en el data frame principal

In [1491]:
df3 = df2.dropna(subset=['genres']) #Se eliminan los nulos del campo genres - df3 es el data frame de proyecto (Rev. 3) con nulos de genres eliminados

In [1492]:
del df2

In [1493]:
df_genres_nan.info()    #Consulta del data frame de nulos de genres

<class 'pandas.core.frame.DataFrame'>
Index: 1234 entries, 26 to 32121
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          0 non-null      object
 1   app_name        1234 non-null   object
 2   tags            1097 non-null   object
 3   discount_price  0 non-null      float64
 4   specs           851 non-null    object
 5   price           1203 non-null   object
 6   early_access    1234 non-null   bool
 7   sentiment       624 non-null    object
 8   metascore       13 non-null     object
 9   release_year    1234 non-null   int64
 10  imputacion      1234 non-null   int32
dtypes: bool(1), float64(1), int32(1), int64(1), object(7)
memory usage: 102.4+ KB

Desanidado del campo tags en el data frame auxiliar df_genres_nan y re indexado

In [1494]:
df_genres_nan = df_genres_nan.explode('tags')   #Desanidado del campo tags en el data frame auxiliar df_genres_nan

In [1495]:
df_genres_nan.reset_index(drop=True, inplace=True)   #Se reindexa el data frame auxiliar

Proceso de imputación de datos en genres

In [1496]:
registros = df_genres_nan.shape   #Guardado de la tupla con la información del data frame auxiliar

In [1497]:
lista_genres = df3.genres.unique()    #Genración de una lista de generos del campo genres para comparación
lista_genres

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure', 'Racing',
       'Massively Multiplayer', 'Early Access', 'Animation & Modeling',
       'Video Production', 'Web Publishing', 'Education',
       'Software Training', 'Utilities', 'Design & Illustration',
       'Audio Production', 'Photo Editing', 'Accounting'], dtype=object)

Definición de una función para obtencion de los datos de imputación

In [1498]:
def imputacion(tag,lista):              #En esta función ingresa un dato y se verifica si esta contenido en una lista.
    genero_imputado = 'Sin Datos'       #En caso afirmativo, devuelve el valor de tag, contrario, devuelve Sin Datos
    if tag in lista:
        genero_imputado = tag
    return genero_imputado

In [1499]:
for i in range(0,registros[0]):                 #Con este ciclo for se imputan valores en genres con los datos de tags en el data frame auxiliar df_genres_nan
    tag = df_genres_nan.loc[i,'tags']
    genero = imputacion(tag,lista_genres)
    df_genres_nan.loc[i, 'genres'] = genero

In [1500]:
df_genres_nan.head()

,genres,app_name,tags,discount_price,specs,price,early_access,sentiment,metascore,release_year,imputacion
0,Design & Illustration,Robotpencil Presents: Understanding 3D for Con...,Design & Illustration,NaN,NaN,4.99,False,NaN,NaN,2018,1
1,Sin Datos,Robotpencil Presents: Understanding 3D for Con...,Tutorial,NaN,NaN,4.99,False,NaN,NaN,2018,1
2,Casual,Dr. Daisy Pet Vet,Casual,NaN,[Single-player],9.99,False,3 user reviews,NA,2008,1
3,Casual,Hot Dish,Casual,NaN,[Single-player],9.99,False,4 user reviews,NA,2008,1
4,Sin Datos,Call of Cthulhu®: Dark Corners of the Earth,Horror,NaN,[Single-player],4.99,False,Mostly Positive,76,2006,1

Eliminación del campo tags en el data frame del proyecto df3 y en el auxiliar df_genres_nan por irrelevante

In [1501]:
df_genres_nan.drop('tags', axis=1, inplace=True)

In [1502]:
df3.drop('tags', axis=1, inplace=True)

Concatenación del data frame principal del proyecto y el data frame auxiliar

In [1503]:
df4 = pd.concat([df3, df_genres_nan]) #Concatenación de df3 y df_genres_nan en df4 - df4 data frame de proyecto (Rev. 4)

In [1504]:
del df3
del df_genres_nan

In [1505]:
df4.reset_index(drop=True, inplace=True)

Desanidado de campo specs

In [1506]:
df5 = df4.explode('specs')  #Desanidado del campo specs en un nuevo data frame - df5 data frame de proyecto (Rev. 5) con el campo specs desanidado

In [1507]:
del df4

In [1508]:
df5.reset_index(drop=True, inplace=True)    #Reindexado del data frame de proyecto

In [1509]:
df5.info() #Consulta del data frame de proyecto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324469 entries, 0 to 324468
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   genres          324469 non-null  object
 1   app_name        324465 non-null  object
 2   discount_price  2701 non-null    float64
 3   specs           322824 non-null  object
 4   price           312696 non-null  object
 5   early_access    324469 non-null  bool
 6   sentiment       247241 non-null  object
 7   metascore       25850 non-null   object
 8   release_year    324469 non-null  int64
 9   imputacion      324469 non-null  int32
dtypes: bool(1), float64(1), int32(1), int64(1), object(6)
memory usage: 21.4+ MB

Consulta de datos unicos del campo specs

In [1510]:
lista_specs = df5.specs.unique()    #Consulta de datos unicos del campo specs
lista_specs

array(['Single-player', 'Multi-player', 'Online Multi-Player',
       'Cross-Platform Multiplayer', 'Steam Achievements',
       'Steam Trading Cards', 'In-App Purchases', 'Stats',
       'Downloadable Content', 'Full controller support', 'Steam Cloud',
       'Steam Leaderboards', 'Partial Controller Support', 'Local Co-op',
       'Shared/Split Screen', 'Valve Anti-Cheat enabled',
       'Local Multi-Player', 'Steam Turn Notifications', 'MMO', 'Co-op',
       'Captions available', 'Steam Workshop', 'Includes level editor',
       'Mods', 'Mods (require HL2)', 'Online Co-op', 'Game demo',
       'Includes Source SDK', 'Commentary available', nan,
       'SteamVR Collectibles', 'Mods (require HL1)'], dtype=object)

In [1511]:
df5.specs.nunique() #Consulta de cantidad de datos unicos del campo specs

31

In [1512]:
df5.head()  #Consulta del data frame de proyecto

,genres,app_name,discount_price,specs,price,early_access,sentiment,metascore,release_year,imputacion
0,Action,Lost Summoner Kitty,4.49,Single-player,4.99,False,NaN,NaN,2018,0
1,Casual,Lost Summoner Kitty,4.49,Single-player,4.99,False,NaN,NaN,2018,0
2,Indie,Lost Summoner Kitty,4.49,Single-player,4.99,False,NaN,NaN,2018,0
3,Simulation,Lost Summoner Kitty,4.49,Single-player,4.99,False,NaN,NaN,2018,0
4,Strategy,Lost Summoner Kitty,4.49,Single-player,4.99,False,NaN,NaN,2018,0

Reemplazo de nulos del campo specs por Sin Datos

In [1513]:
df5.specs.fillna('Sin Datos', inplace=True) #Reemplazo de nulos del campo specs por Sin Datos

Conversión del campo price a númerico y reemplazo de errores por Nan

In [1514]:
df5.isna().sum()    #Consulta de nulos del data frame de proyecto

genres                 0
app_name               4
discount_price    321768
specs                  0
price              11773
early_access           0
sentiment          77228
metascore         298619
release_year           0
imputacion             0
dtype: int64

In [1515]:
df5['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 3.99, 9.99, 18.99,
       29.99, nan, 10.99, 2.99, 1.59, 14.99, 1.99, 59.99, 8.99, 6.99,
       7.99, 39.99, 'Free', 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25,
       24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 1.49, 32.99, 99.99, 14.95, 69.99, 16.99,
       79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 109.99, 149.99, 771.71,
       'Install Now', 21.99, 89.99, 'Play WARMACHINE: Tactics Demo', 0.98,
       139.92, 4.29, 64.99, 'Free Mod', 54.99, 74.99, 'Install Theme',
       0.89, 'Third-party', 0.5, 'Play Now', 299.99, 1.29, 119.99, 3.0,
       15.0, 5.49, 23.99, 49.0, 20.99, 10.93, 1.39,
       'Free HITMAN™ Holiday Pack', 36.99, 4.49, 2.0, 4.0, 1.95, 1.5,
       199.0, 189.0, 6.66, 27.99, 129.99, 179.0, 26.99, 399.99, 31.99,
       399.0, 20.0, 40.0, 3.33, 22.99, 320.0, 38.85, 71.7, 995.0, 27.49,
       3.39, 6.0, 19.95, 499.99, 199.99, 16.06, 4.68, 131.4, 44.98,
       202.76, 2.3, 0.95, 172.24, 249.99, 2.97, 10.96, 10.0, 30.0, 2.66,
       6.48, 1.0, 11.15, 'Play the Demo', 99.0, 87.94, 0.49, 9.98, 9.95,
       7.0, 12.89, 6.49, 1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96,
       5.65, 12.0, 59.95, 13.37, 189.96, 124.99, 19.98, 160.91,
       'Free to Use', 234.99, 10.49, 19.29, 599.0, 'Starting at $499.00',
       'Starting at $449.00', 'Free Movie'], dtype=object)

In [1516]:
df5['price'] = pd.to_numeric(df5['price'], errors='coerce') #Conversión de campo price a numerico y reemplazo de errores con Nan

In [1517]:
df5.isna().sum() #Consulta de nulos del data frame de proyecto

genres                 0
app_name               4
discount_price    321768
specs                  0
price              32457
early_access           0
sentiment          77228
metascore         298619
release_year           0
imputacion             0
dtype: int64

Revisión de campo early_access

In [1518]:
df5.early_access.nunique()  #Revisión de cantidad de valores unicos del campo early_access (Valores False y True)

2

Revisión del campo sentiment

In [1519]:
df5.sentiment.nunique() #Revisión de cantidad de valores unicos del campo sentiment

18

In [1520]:
lista_sentiment = df5.sentiment.unique() #Revisión de datos unicos del campo sentiment
lista_sentiment

array([nan, 'Mostly Positive', 'Mixed', '1 user reviews',
       '3 user reviews', 'Very Positive', 'Overwhelmingly Positive',
       '6 user reviews', '5 user reviews', '2 user reviews',
       'Very Negative', 'Positive', 'Mostly Negative', '9 user reviews',
       '8 user reviews', 'Negative', '7 user reviews', '4 user reviews',
       'Overwhelmingly Negative'], dtype=object)

Reemplazo de datos en el campo sentiment - Los valores Nan y que constengan "user reviews" se reemplazan por "Sin Datos" porque no aplican como calificación

In [1521]:
df5['sentiment'] = df5['sentiment'].replace({None: 'Sin Datos', 
                                    '1 user reviews':'Sin Datos',
                                    '3 user reviews':'Sin Datos',
                                    '6 user reviews':'Sin Datos',
                                    '5 user reviews':'Sin Datos',
                                    '2 user reviews':'Sin Datos',
                                    '9 user reviews':'Sin Datos',
                                    '8 user reviews':'Sin Datos',
                                    '7 user reviews':'Sin Datos',
                                    '4 user reviews':'Sin Datos'})  #Reemplazo de valores Nan y que constengan "user reviews" se reemplazan por "Sin Datos"

Revisión del campo metascore

In [1522]:
df5.metascore.nunique() #Revisión de cantidad de valores unicos del campo metascore

71

In [1523]:
lista_metascore = df5.metascore.unique()  #Revisión de datos unicos del campo metascore
lista_metascore

array([nan, 96, 84, 80, 76, 70, 'NA', 69, 81, 75, 72, 66, 67, 77, 91, 89,
       83, 61, 88, 65, 94, 57, 86, 87, 92, 79, 82, 58, 74, 85, 90, 68, 71,
       60, 73, 59, 64, 54, 53, 78, 51, 44, 63, 38, 56, 49, 52, 62, 93, 48,
       34, 95, 43, 55, 24, 46, 41, 20, 39, 45, 35, 47, 40, 36, 50, 32, 37,
       33, 42, 27, 29, 30], dtype=object)

Conversión del campo metascore a numerico y de posibles errores a Nan (p.e. valor "NA")

In [1524]:
df5['metascore'] = pd.to_numeric(df5['metascore'], errors='coerce')

Reindexado del data frame de proyecto

In [1525]:
df5.reset_index(drop=True, inplace=True) #Reindexado del data frame de proyecto

In [1526]:
df5.head() #Consulta del data frama de proyecto

,genres,app_name,discount_price,specs,price,early_access,sentiment,metascore,release_year,imputacion
0,Action,Lost Summoner Kitty,4.49,Single-player,4.99,False,Sin Datos,NaN,2018,0
1,Casual,Lost Summoner Kitty,4.49,Single-player,4.99,False,Sin Datos,NaN,2018,0
2,Indie,Lost Summoner Kitty,4.49,Single-player,4.99,False,Sin Datos,NaN,2018,0
3,Simulation,Lost Summoner Kitty,4.49,Single-player,4.99,False,Sin Datos,NaN,2018,0
4,Strategy,Lost Summoner Kitty,4.49,Single-player,4.99,False,Sin Datos,NaN,2018,0

In [1527]:
df5.info()  #Consulta del data frama de proyecto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324469 entries, 0 to 324468
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   genres          324469 non-null  object
 1   app_name        324465 non-null  object
 2   discount_price  2701 non-null    float64
 3   specs           324469 non-null  object
 4   price           292012 non-null  float64
 5   early_access    324469 non-null  bool
 6   sentiment       324469 non-null  object
 7   metascore       25616 non-null   float64
 8   release_year    324469 non-null  int64
 9   imputacion      324469 non-null  int32
dtypes: bool(1), float64(3), int32(1), int64(1), object(4)
memory usage: 21.4+ MB

In [1528]:
df5.isna().sum()

genres                 0
app_name               4
discount_price    321768
specs                  0
price              32457
early_access           0
sentiment              0
metascore         298853
release_year           0
imputacion             0
dtype: int64

Revisión del campo app_name

In [1540]:
df5['app_name'] = df5['app_name'].fillna('Sin Datos')   #Reemplazo de nulos por "Sin Datos"

In [1542]:
df5.isna().sum()    #Consulta de nulos del data frame de proyecto

genres                 0
app_name               0
discount_price    321768
specs                  0
price              32457
early_access           0
sentiment              0
metascore         298853
release_year           0
imputacion             0
dtype: int64

Exportación - Se almancena en formato parquet por su almacenamiento columnar y ventajas en el uso de funciones de agregación

In [1546]:
# Nombre del archivo Parquet
parquet_filename = 'steam_games.parquet'

# Convertir el DataFrame a una tabla Arrow
table = pa.Table.from_pandas(df5)

# Guardar la tabla Arrow en formato Parquet
pq.write_table(table, parquet_filename)

def genero( Año: str ): Se ingresa un año y devuelve una lista con los 5 géneros más vendidos en el orden correspondiente.

In [1556]:
def genero(Anio:str): 
    #Se ingresa un año y devuelve una lista con los 5 géneros más vendidos en el orden correspondiente.
    Anio = int(Anio)
    lista_generos = []
    top_generos = []
    df_filtrado_anio = df5[df5['release_year'] == Anio]

    df_filtrado_anio_unique = df_filtrado_anio.drop_duplicates(subset='genres')

    # Agrupar por la columna 'Nombre'
    grupos_genres = df_filtrado_anio_unique.groupby('genres')

    # Calcular la media de edad para cada grupo
    top_genres = grupos_genres['genres'].count()

    top_genres.sort_values(ascending=False, inplace=True)

    # Tomar los primeros 5 elementos de la Serie y almacenarlos en una lista
    lista_generos = top_genres.index.tolist()

    top_generos = lista_generos[:5]

    return {'Anio': Anio, 'Generos': top_generos}

In [1558]:
genero('2018')

{'Anio': 2018,
 'Generos': ['Action',
  'Adventure',
  'Casual',
  'Design & Illustration',
  'Early Access']}

def juegos( Año: str ): Se ingresa un año y devuelve una lista con los juegos lanzados en el año.

In [1559]:
def juegos(Anio:str): 
    #Se ingresa un año y devuelve una lista con los juegos lanzados en el año.
    Anio = int(Anio)
    lista_juegos = []
    df_filtrado_anio = df5[df5['release_year'] == Anio]

    df_filtrado_anio_unique = df_filtrado_anio.drop_duplicates(subset='app_name')

    lista_juegos = list(df_filtrado_anio_unique['app_name'])

    return {'Anio': Anio, 'Juegos': lista_juegos}

In [1562]:
juegos(1984)

{'Anio': 1984,
 'Juegos': ['Space Ace',
  'The Castles of Dr. Creep',
  'Gallagher: Melon Crazy',
  'This is Spinal Tap']}

def specs( Año: str ): Se ingresa un año y devuelve una lista con los 5 specs que más se repiten en el mismo en el orden correspondiente.

In [1574]:
def specs(Anio:str): 
    #Se ingresa un año y devuelve una lista con los 5 géneros más vendidos en el orden correspondiente.
    Anio = int(Anio)
    lista_specs = []
    top_specs = []
    df_filtrado_anio = df5[df5['release_year'] == Anio]

    df_filtrado_anio_unique = df_filtrado_anio.drop_duplicates(subset='specs')

    # Agrupar por la columna 'Nombre'
    grupos_specs = df_filtrado_anio_unique.groupby('specs')

    # Calcular la media de edad para cada grupo
    top_specs = grupos_specs['specs'].count()

    top_specs.sort_values(ascending=False, inplace=True)

    # Tomar los primeros 5 elementos de la Serie y almacenarlos en una lista
    lista_specs = top_specs.index.tolist()

    top_specs = lista_specs[:5]

    return {'Anio': Anio, 'Specs': top_specs}

In [1576]:
specs(2018)

{'Anio': 2018,
 'Specs': ['Captions available',
  'Co-op',
  'Steam Turn Notifications',
  'Steam Trading Cards',
  'Steam Leaderboards']}